

.bg{
  background-color: black;
}
.hero{
  height: 60vh;
  background-color: aqua;
  background: url("https://images.pexels.com/photos/13827133/pexels-photo-13827133.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size:100%;
  width: auto;
}
.movie{
display: grid;
grid-template-columns: repeat(3,1fr);  
gap: 0.4em;
}

.eachmovie{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.eachmovie img{
  border-radius:0.5em;
  height:34vh;
  width:34vw;
  
}

.heading{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size:2em;
  font-family: cursive;
  color:aquamarine;
  background-color: black;
  padding: 1em;
}

.primary-heading{
  font-size: 4em;
  font-family: cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  color: aquamarine;

}
.hero p{
  color:white;
  text-align: center;
}

@media screen and (max-width:576px){
  .movie{
    display: grid;
    grid-template-columns: repeat(1,1fr);  
    
  }
  .eachmovie img{
    border-radius: 9px;
    width: 100vw;
    max-height: 50vh;
    
  }
  .heading{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size:1.5em;
  }
  .primary-heading{
    font-size: 2.3em;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero{
    height: 35vh;
    background-color: aqua;
    background: url("https://images.pexels.com/photos/13827133/pexels-photo-13827133.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    width: auto;
    background-position: center;
  }
 
}
@media screen and (min-width:576px) {
  .hero{
  background: url("https://images.pexels.com/photos/13827133/pexels-photo-13827133.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    width: auto;
    background-position: center;
  }
}

.contact{
margin-left: auto;
margin-right: auto;
width: 60vw;
margin: 2em;
background-color: black;
color: white;
padding: 2em;
align-items: center;
justify-content: center;
}

.footer{
  color: white;
  padding: 0.6em;
  font-size: 2em;
  text-align: center;
  width:auto;
  background-color: white;
  color: black;
  margin-top: 1em;
}

@media screen and (max-width:576px) {
  .footer{
    color: white;
    padding: 0.6em;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    width:auto;
    background-color: white;
    color: black;
    margin-top: 1em;
    margin-bottom: 1em;
  
  }
  .about{
    padding: 1em;
    margin: 1em;
    font-size:0.9em;
  }
  .about h2{
    color: aquamarine;
    text-align: center;
  }
  
  .about p{
    color:white;
    font-size:1.2em;
    
  }
}


.about{
  padding: 1.4em;
}
.about h2{
  color: aquamarine;
  text-align: center;
}

.about p{
  color:white;
  font-size: 1.3em;
  
}

