

.hero{
  height: 100vh;
  background-color: aqua;
  background: url("https://images.pexels.com/photos/13827133/pexels-photo-13827133.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  width: auto;
}
.movie{
display: grid;
grid-template-columns: repeat(3,1fr);  
gap: 1em;
}

.eachmovie{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.eachmovie img{
  border-radius:12px;
  height:34vh;
  width:34vw;
  
}

.heading{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size:2em;
}

.primary-heading{
  font-size: 4em;
  font-family: cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  color: aquamarine;

}
.hero p{
  color:white;
  text-align: center;
}

@media screen and (max-width:576px){
  .movie{
    display: grid;
    grid-template-columns: repeat(1,1fr);  
    
  }
  .eachmovie img{
    border-radius: 9px;
    width: 100vw;
    max-height: 50vh;
    
  }
  .heading{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size:1.5em;
  }
  .primary-heading{
    font-size: 2.3em;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero{
    height: 100vh;
    background-color: aqua;
    background: url("https://images.pexels.com/photos/13827133/pexels-photo-13827133.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    width: auto;
    background-position: center;
  }
 
}





